@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

:root {
  /* primary colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue: hsl(217, 54%, 11%);
  --Very-dark-blue: hsl(216, 50%, 16%);
  --Very-dark-blue: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: hsl(217, 54%, 11%);
  /* height: 100vh; */
}

/* styling main-container */

.main {
  position: relative;
  margin: 70px auto;
  background-color: hsl(215, 32%, 27%);
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  width: 100%;
}

/* styling images */

.img-container {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.img {
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  height: 100%;
  display: block;
  max-width: 400px;
  width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* image hover state */
.img-container:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(178, 100%, 50%);
  border-radius: 10px;
  /* z-index: 1; */
  opacity: 0.7;
}

.anchor {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  margin-block-end: 15px;
}

.anchor:hover {
  color: hsl(178, 100%, 50%);
  opacity: 0.8;
}

/* text styling */
.paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(215, 51%, 70%);
  margin-block: 10px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: 10px; */
}

li {
  list-style: none;
  color: hsl(215, 51%, 70%);
  margin-block: 10px;
  /* margin-inline: 10px; */
}

ul li:nth-child(1) {
  color: hsl(178, 100%, 50%);
}
span {
  margin-inline: 3px;
}

figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid hsl(215, 51%, 70%);
  padding-block-start: 15px;
}

figure img {
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  max-width: 100px;
  width: 100%;
}

figcaption p {
  color: hsl(215, 51%, 70%);
  padding-inline-start: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
